<div class="contenedor">
    <h2>Detalles de Tweet programado</h2>
    <label>
        Texto del tweet: <br>
        <input type=textbox name="txtTweet" [(ngModel)]="tweet.txt" />
    </label>
    <label>
        <input type="checkbox" name="chkLink" 
            [checked]="tweet.hasLink" (change)="tweet.hasLink = !tweet.hasLink" /> Link
    </label>
    <label>
        <input type="checkbox" name="chkFoto" 
            [checked]="tweet.hasFoto" (change)="tweet.hasFoto = !tweet.hasFoto" /> Foto
    </label>
    <label>
        <input type="number" name="numHashtag"
            default="0" min="0" [(ngModel)]="tweet.numeroHashtags" /> Hashtags
    </label>
    <app-detalles-tipo-tweet (eInfoTipoTweet)="updateInfoTipoTweet($event)"></app-detalles-tipo-tweet>
    <div class="barraBotones">
        <a class="boton" routerLink="/lista">Atras</a>
        <button class="boton" (click)="guardarTweet()">Guardar</button>
    </div>
</div>
