<div class="contenedor">
    <h2>Detalles de Tweet programado</h2>
    <label>
        Texto del tweet: <br>
        <input type=textbox name="txtTweet" [(ngModel)]="tweet.txt" />
    </label>
    <label>
        <input type="checkbox" name="chkLink" 
            [checked]="tweet.hasLink" (change)="tweet.hasLink = !tweet.hasLink" /> Link
    </label>
    <label>
        <input type="checkbox" name="chkFoto" 
            [checked]="tweet.hasFoto" (change)="tweet.hasFoto = !tweet.hasFoto" /> Foto
    </label>
    <label>
        <input type="number" name="numHashtag"
            default="0" min="0" [(ngModel)]="tweet.numeroHashtags" /> Hashtags
    </label>

    <div class="contenedor">
        <h3>Cuándo se publica</h3>
        <label>
            Tipo
            <select [(ngModel)]="tweet.tipo">
                <option [ngValue]="eTipoTweet.Inactivo">Inactivo</option>
                <option [ngValue]="eTipoTweet.Unico">Único</option>
                <option [ngValue]="eTipoTweet.Diario">Diario</option>
                <option [ngValue]="eTipoTweet.Semanal">Semanal</option>
                <option [ngValue]="eTipoTweet.Mensual">Mensual</option>
            </select>
        </label>
    
        <div [ngSwitch]="tweet.tipo">
            <div *ngSwitchCase="eTipoTweet.Inactivo">
                <p>Inactivo</p>
            </div>
            <div *ngSwitchCase="eTipoTweet.Unico">
                <p>Unico</p>
                <input type="datetime-local" [(ngModel)]="tweet.fecha">
            </div>
            <div *ngSwitchCase="eTipoTweet.Diario">
                <p>Diario</p>
                <input type="time" value="00:00" [(ngModel)]="tweet.hora">
            </div>
            <div *ngSwitchCase="eTipoTweet.Semanal">
                <p>Semanal</p>
                <select [(ngModel)]="tweet.diaSemana">
                    <option [ngValue]="eDiaSemana.Lunes">Lunes</option>
                    <option [ngValue]="eDiaSemana.Martes">Martes</option>
                    <option [ngValue]="eDiaSemana.Miercoles">Miércoles</option>
                    <option [ngValue]="eDiaSemana.Jueves">Jueves</option>
                    <option [ngValue]="eDiaSemana.Viernes">Viernes</option>
                    <option [ngValue]="eDiaSemana.Sabado">Sábado</option>
                    <option [ngValue]="eDiaSemana.Domingo">Domingo</option>
                </select>
                <input type="time" value="00:00" [(ngModel)]="tweet.hora">
            </div>
            <div *ngSwitchCase="eTipoTweet.Mensual">
                <p>Mensual</p>
                <input type="number" min="1" max="31" value="1" [(ngModel)]="tweet.diaMes">
                <input type="time" value="00:00" [(ngModel)]="tweet.hora">
            </div>
        </div>
    </div>

    <div class="barraBotones">
        <a class="boton" routerLink="/lista">Atras</a>
        <button class="boton" (click)="guardarTweet()">Guardar</button>
    </div>
</div>
