.contenedor {
    display: flex;
    flex-direction: column;
}

.barraBotones {
    display: flex;
    justify-content: center;
}

a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 7ex;
    min-height: 5ex;
    font-size: large;
    border: 3px solid black;
    border-radius: 20px;
    margin: 3em;
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: Gainsboro;
}