.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    margin: auto;
    border: 1px solid red;
}

h1 {
    font-size: 300%;
    text-align: center;
    display: block;
    margin: auto;
}
