li {
    width: 20em;
    list-style-type: none;
    margin: 2ex;
    padding: 1ex;
    overflow: hidden;
    /* border: 3px red dashed; */
}

li .marca {
    border: 3px solid MediumSlateBlue;
    border-radius: 10px;
    padding: 0.5ex;
    background-color: lavender;
    font-weight: bold;
    color: DarkSlateGray;
}

li .descr {
    margin-left: 1ex;
}

li .editButton {
    padding: 0.4ex;
    float: right;
    margin: 0;
    vertical-align: middle;
    border: 3px solid black;
    border-radius: 10px;
}

li .editButton:hover {
    background-color: Gainsboro;
}

.barraBotones {
    display: flex;
    justify-content: center;
}

.barraBotones a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 7ex;
    min-height: 5ex;
    font-size: large;
    border: 3px solid black;
    border-radius: 20px;
    margin: 3em;
}

.barraBotones a:hover {
    background-color: Gainsboro;
}
