<div>
    <ul>
        <li *ngFor="let tweet of tweets">
            <span class="marca">{{tweet.getTextoResumen()}}</span> 
            <span class="descr">{{tweet.txt}}</span> 
            <a [routerLink]="['/detalles', tweet.id]" class="editButton"><img src="../../assets/ic_action_edit.png"></a>
        </li>
    </ul>

    <div class="barraBotones">
        <a class="boton">Brand</a>
        <a routerLink="/detalles" class="boton">
            <img src="../assets/ic_action_add.png">
        </a>
    </div>
</div>
